<a href="https://colab.research.google.com/github/Vieiraligia/Imersao_Python_Alura/blob/main/Aula01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [4]:
df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [6]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [7]:
df.shape

(133349, 11)

In [8]:
linhas, colunas = df.shape[0], df.shape[1]
print("linhas:", linhas)
print("colunas:", colunas)

linhas: 133349
colunas: 11

In [9]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [10]:
new_columns = {
    'work_year': 'ano_trabalho',
    'experience_level': 'senioridade',
    'employment_type': 'contrato',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda',
    'salary_in_usd': 'USD',
    'employee_residence': 'residencia',
    'remote_ratio': 'remoto',
    'company_location': 'localizacao_empresa',
    'company_size': 'porte_empresa'
}
df.rename(columns=new_columns, inplace=True)
print("As colunas do DataFrame foram traduzidas:")
print(df.columns)

As colunas do DataFrame foram traduzidas:
Index(['ano_trabalho', 'senioridade', 'contrato', 'cargo', 'salario', 'moeda',
       'USD', 'residencia', 'remoto', 'localizacao_empresa', 'porte_empresa'],
      dtype='object')

In [11]:
df["senioridade"].value_counts()

senioridade
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [12]:
df["contrato"].value_counts()

contrato
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [13]:
df['contrato'] = df['contrato'].replace({
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Meio Período',
    'FL': 'Freelancer'
})
print(df['contrato'].value_counts())

contrato
Tempo Integral    132563
Contrato             394
Meio Período         376
Freelancer            16
Name: count, dtype: int64

In [14]:
df['senioridade'] = df['senioridade'].replace({
    'SE': 'Sênior',
    'MI': 'Médio',
    'EN': 'Iniciante',
    'EX': 'Executivo'
})
print(df['senioridade'].value_counts())

senioridade
Sênior       77241
Médio        40465
Iniciante    12443
Executivo     3200
Name: count, dtype: int64

In [15]:
df.head()

,ano_trabalho,senioridade,contrato,cargo,salario,moeda,USD,residencia,remoto,localizacao_empresa,porte_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,Médio,Tempo Integral,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,Médio,Tempo Integral,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,Iniciante,Tempo Integral,Data Engineer,90000,USD,90000,US,0,US,M

In [16]:
df.describe(include='object')

,senioridade,contrato,cargo,moeda,residencia,localizacao_empresa,porte_empresa
count,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,95,3
top,Sênior,Tempo Integral,Data Scientist,USD,US,US,M
freq,77241,132563,17314,126140,119579,119641,129561

In [17]:
df.isnull()

,ano_trabalho,senioridade,contrato,cargo,salario,moeda,USD,residencia,remoto,localizacao_empresa,porte_empresa
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
133344,False,False,False,False,False,False,False,False,False,False,False
133345,False,False,False,False,False,False,False,False,False,False,False
133346,False,False,False,False,False,False,False,False,False,False,False
133347,False,False,False,False,False,False,False,False,False,False,False
133348,False,False,False,False,False,False,False,False,False,False,False

In [18]:
df.isnull().sum()

ano_trabalho           10
senioridade             0
contrato                0
cargo                   0
salario                 0
moeda                   0
USD                     0
residencia              0
remoto                  0
localizacao_empresa     0
porte_empresa           0
dtype: int64

In [19]:
df['ano_trabalho'].unique()

array([2025.,   nan, 2024., 2022., 2023., 2020., 2021.])

In [20]:
df[df.isnull().any(axis=1)]

,ano_trabalho,senioridade,contrato,cargo,salario,moeda,USD,residencia,remoto,localizacao_empresa,porte_empresa
5588,NaN,Sênior,Tempo Integral,Product Manager,184500,USD,184500,US,0,US,M
59692,NaN,Médio,Tempo Integral,Engineer,110000,USD,110000,DE,0,DE,M
59710,NaN,Iniciante,Tempo Integral,Data Scientist,208800,USD,208800,US,0,US,M
59759,NaN,Sênior,Tempo Integral,Software Engineer,135000,USD,135000,US,0,US,M
59789,NaN,Sênior,Tempo Integral,Engineer,112000,USD,112000,US,0,US,M
131000,NaN,Sênior,Tempo Integral,Machine Learning Engineer,163800,USD,163800,US,0,US,M
131006,NaN,Sênior,Tempo Integral,Data Analytics Manager,204500,USD,204500,US,0,US,M
133054,NaN,Iniciante,Tempo Integral,Data Scientist,40000,USD,40000,JP,100,MY,L
133281,NaN,Médio,Tempo Integral,Machine Learning Engineer,180000,PLN,46597,PL,100,PL,L
133317,NaN,Médio,Tempo Integral,Data Scientist,130000,USD,130000,US,50,US,L

In [21]:
import numpy as np

df_salarios = pd.DataFrame({
    'nome': ["Ana", "Bruno", "Carlos", "Daniele", "Val"],
    'salario': [4000,np.nan, 5000, np.nan, 100000]

})
#calcula a média salarial e substitui os nulos pela média e arredonda
df_salarios['salario_media'] = df_salarios['salario'].fillna(df_salarios['salario'].mean().round(2))


'''Calcula a mediana salarial e substitui os nulos pela mediana'''
df_salarios['salario_mediana'] = df_salarios['salario'].fillna(df_salarios['salario'].median())
df_salarios

      nome   salario  salario_media  salario_mediana
0      Ana    4000.0        4000.00           4000.0
1    Bruno       NaN       36333.33           5000.0
2   Carlos    5000.0        5000.00           5000.0
3  Daniele       NaN       36333.33           5000.0
4      Val  100000.0      100000.00         100000.0

In [22]:
df_temperaturas = pd.DataFrame({
'dia': ["Segunda", "Terça", "Quarta", "Quinta", "Sexta"],
'Temperatura': [30, np.nan, np.nan, 28, 27]
})
df_temperaturas["preenchido_ffill"] = df_temperaturas ["Temperatura"].ffill()
df_temperaturas

       dia  Temperatura  preenchido_ffill
0  Segunda         30.0              30.0
1    Terça          NaN              30.0
2   Quarta          NaN              30.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0

In [23]:
df_temperaturas = pd.DataFrame({
'dia': ["Segunda", "Terça", "Quarta", "Quinta", "Sexta"],
'Temperatura': [30, np.nan, np.nan, 28, 27]
})
df_temperaturas["preenchido_bfill"] = df_temperaturas ["Temperatura"].bfill()
df_temperaturas

       dia  Temperatura  preenchido_bfill
0  Segunda         30.0              30.0
1    Terça          NaN              28.0
2   Quarta          NaN              28.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0

In [24]:
df_cidades = pd.DataFrame({
   'nome': ["Ana", "Bruno", "Carlos", "Daniele", "Val"],
    'cidade' : ["Sao Paulo", np.nan, "Curitiba", np.nan, "Belem"]
})

df_cidades['cidade_preenchida'] = df_cidades['cidade'].fillna("Não informado")
df_cidades

      nome     cidade cidade_preenchida
0      Ana  Sao Paulo         Sao Paulo
1    Bruno        NaN     Não informado
2   Carlos   Curitiba          Curitiba
3  Daniele        NaN     Não informado
4      Val      Belem             Belem

In [25]:
df_limpo = df.dropna()

In [26]:
df_limpo.isnull().sum()

ano_trabalho           0
senioridade            0
contrato               0
cargo                  0
salario                0
moeda                  0
USD                    0
residencia             0
remoto                 0
localizacao_empresa    0
porte_empresa          0
dtype: int64

In [27]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ano_trabalho         133339 non-null  float64
 1   senioridade          133339 non-null  object
 2   contrato             133339 non-null  object
 3   cargo                133339 non-null  object
 4   salario              133339 non-null  int64
 5   moeda                133339 non-null  object
 6   USD                  133339 non-null  int64
 7   residencia           133339 non-null  object
 8   remoto               133339 non-null  int64
 9   localizacao_empresa  133339 non-null  object
 10  porte_empresa        133339 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 12.2+ MB

In [33]:
df_limpo = df_limpo.assign(ano_trabalho = df_limpo['ano_trabalho'].astype('int64'))
df_limpo

,ano_trabalho,senioridade,contrato,cargo,salario,moeda,USD,residencia,remoto,localizacao_empresa,porte_empresa,ano
0,2025,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,100,US,M,2025
1,2025,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,100,US,M,2025
2,2025,Médio,Tempo Integral,Data Engineer,158800,USD,158800,AU,0,AU,M,2025
3,2025,Médio,Tempo Integral,Data Engineer,139200,USD,139200,AU,0,AU,M,2025
4,2025,Iniciante,Tempo Integral,Data Engineer,90000,USD,90000,US,0,US,M,2025
...,...,...,...,...,...,...,...,...,...,...,...,...
133344,2020,Sênior,Tempo Integral,Data Scientist,412000,USD,412000,US,100,US,L,2020
133345,2021,Médio,Tempo Integral,Principal Data Scientist,151000,USD,151000,US,100,US,L,2021
133346,2020,Iniciante,Tempo Integral,Data Scientist,105000,USD,105000,US,100,US,S,2020
133347,2020,Iniciante,Contrato,Business Data Analyst,100000,USD,100000,US,100,US,L,2020
133348,2021,Sênior,Tempo Integral,Data Scientist,7000000,INR,94665,IN,50,IN,L,2021